header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(27, 26, 117);
    border-bottom: 1px, solid ,black;
}

h1 {
    color: white;
    cursor: pointer;
    font-size: 50px;
}

li {
    color: white;
    list-style: none;
    display: inline-block;
    padding: 25px;
    cursor: pointer;
    font-size: 25px;
}